.markdown-section h1 {
    display: block;
    /* border-bottom: #eee 0.3px solid; */
    background: #efefef;

    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: calc(50vw + 1em);

    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 1.5em;
    line-height: 1.3em;
}
.markdown-section h1 * {
    color: #669 !important;
}

h1 a {

    text-decoration: none !important;
}

h2 {
    padding-left: 1em;
}

input.search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
input.search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
input.search-bar:focus::-webkit-input-placeholder{
    transition: opacity 0.45s ease;
    opacity: 0;
}
input.search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input.search-bar:focus :-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
  
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -15px;
}