
/* === playground === */
.tplroot {
    position: relative;
}


@media screen and (min-width: 1300px) {
    .tplroot {
        margin-left: -100px;
        margin-right: -100px;
    }
}

@media screen and (min-width: 1200px) {
    .tplroot {
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media screen and (min-width: 1500px) {
    .tplroot {
        margin-left: -200px;
        margin-right: -200px;
    }
}

.tplroot.withgql {
    height: 430px;
}

.gqleditor > div > div  {
    height: 400px;
}

/* tall */
.withgql.tplroot.medium {
    height: 630px;
}
.withgql.tplroot.medium  .gqleditor > div > div {
    height: 600px;
}

/* tall */
.withgql.tplroot.tall {
    height: 830px;
}
.withgql.tplroot.tall  .gqleditor > div > div {
    height: 800px;
}

/* very tall */
.withgql.tplroot.very-tall {
    height: calc(100vh - 57px + 30px);
}
.withgql.tplroot.very-tall  .gqleditor > div > div {
    height: calc(100vh - 57px);
}

/** fullpage */
.withgql.tplroot.fullpage {
    height: 80vh !important;
    margin-left: unset;
    margin-right: unset;
}
.gqleditor.fullpage {
    margin: 0;
    width: 100%;
}
.gqleditor.fullpage > div > div  {
    height: 75vh !important;
}

/* hide docs & schema
.gqleditor.fullpage .graphiql-wrapper>div>div:nth-child(2) {
    display: unset !important;
} */



.tplload {
    margin-top: 150px;
}


/* hide gql exec button */
.gqleditor.logged-out div[title="Execute Query (Ctrl-Enter)"] {
    display: none;
}

/* hide gql exec pane */
.gqleditor.logged-out .graphiql-wrapper>:first-child>:first-child>:last-child>:last-child {
    display: none;
}

.login-btn {
    position: absolute;
    bottom: 3em;
    right: 1em;
    z-index: 1000;
}

.gqleditor {
    width: 100%;
    background: #172B3A;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.graphiql-wrapper div[height="200"]>:first-child>:last-child {
    display: none !important;
}

/* hide tabs */
.gqleditor > div >div > div > :first-child {
    display: none;
}
/* hide config btn */
.gqleditor svg[width="23"] {
    display: none;
}

/* hide docs & schema */
/* .gqleditor:not(.schema) .graphiql-wrapper>div>div:nth-child(2) {
    display: none;
} */

/* from https://cdn.jsdelivr.net/npm/graphql-playground-react/build/static/css/index.css */
.gqleditor a, .gqleditor code, .gqleditor h1, .gqleditor h2, .gqleditor h3, .gqleditor h4, .gqleditor p, .gqleditor pre, .gqleditor ul{margin:0;padding:0;color:inherit}
.gqleditor  a:active, .gqleditor a:focus, .gqleditor button:focus, .gqleditor input:focus{outline:none}
.gqleditor button, .gqleditor input, .gqleditor submit{border:none}
.gqleditor button, .gqleditor input, .gqleditor pre{font-family:Open Sans,sans-serif}
.gqleditor  code{font-family:Consolas,monospace}

.CodeMirror-hints-wrapper {
    position: fixed !important;
    margin-top: -200px;
}

/* === loader === */
.loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    }
.loader:after {
content: " ";
display: block;
width: 46px;
height: 46px;
margin: 1px;
border-radius: 50%;
border: 5px solid #777;
border-color: #777 transparent #777 transparent;
animation: loader 1.2s linear infinite;
}
@keyframes loader {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}


/* === text === */
.text-center {
    text-align: center;
}

.text-danger {
    color: darkred;
}


/* === simple components === */
.btn {
    background-color: #3082f7;
    color: #fff;
    border: none;
    border-radius: 28px;
    padding: 10px 40px;
    cursor: pointer;
    margin: 18px auto;
    font-family: Roboto,"Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 61px;
    box-shadow: 0 2px 5px 0 rgba(0,128,255,.4);
}



/* =========== TABS ========== */
.tabs {
    /* max-width: 800px;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1); */
    margin-bottom: 3em;
}

.tabs > .tabsection {
    border-top: 1px solid #abc;
}

.tabs > .tabsection.gql .gqleditor {
    margin: 0;
}


.tabs > .tabsection.code {
    padding: 20px;
    /* text-align: center; */
    background: #F8F8F8;
    border: 1px solid rgba(0,0,0,.2);
}

.tabs > .tabsection.code .wrapper {
    display: inline-block;
}

.tabs >   .tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
  }


.tabs > .tab:hover {
    color: #789;
    cursor: pointer;
}

.tabs > .tab.selected {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}